// Reset headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

a {
    cursor: pointer;
}

%h1-a {
    font-size: 70px;
}

%h1 {
    font-size: 36px;
}

%h3 {
    font-size: 20px;
}

%h6 {
    font-size: 14px;
}

@include media($tablet) {

    %h1-a {
        font-size: 60px;
    }

    %h1 {
        font-size: 24px;
    }

    %h3 {
        font-size: 18px;
    }

    %h6 {
        font-size: 14px;
    }
}

@include media($phablet) {

    %h1-a {
        font-size: 50px;
    }

    %h1 {
        font-size: 18px;
    }

    %h3 {
        font-size: 16px;
    }

    %h6 {
        font-size: 12px;
    }
}
