.home {
    @include clearfix;
    height: 100vh;
    margin-left: 80px;
    position: relative;
    width: calc(100% - 80px);

    @include media($phablet) {
        margin-left: 50px;
        width: calc(100% - 50px);
    }
}

.home__nav {
    @include filter(blur(50px));
}
