.nav {
    @include position(fixed, 0 null null 0);
    @include transform(rotate(-90deg) translateX(-100%));
    @include transform-origin(left top);
    height: 80px;
    width: 100vh;

    @include media($phablet) {
        height: 50px;
    }
}

.nav__background {
    background-color: $black;
    display: none;
    height: calc(100% - 40px);
    position: absolute;
    width: 100%;
    z-index: 10;
}

.nav__inner {
    @include align-vertically(absolute);
    @include padding(20px 20px 0 20px);
    position: relative;
    text-align: center;

    @include media($phablet) {
        padding-top: 10px;
    }
}

.nav__logo__text,
.nav_item__icon {

    & + & {
        margin-left: 20px;
    }
}

.nav__logo__text {
    @extend %h1;
    display: inline-block;
    position: relative;
    top: -5px;
}

.nav_item__icon {
    @include transition(all 0.3s ease-in, fill 0.3s ease-in);
    @include transform(rotate(90deg));
    @include transform-origin(center);
    @include svg(40px, 40px, $black);
    display: inline-block;

    &:hover {
        @include svg(32px, 32px, $white);

        border: 2px solid $black;
    }
}
