<div class="nav__menu__item">
    <div
        class="nav__menu__item__text"
        ng-bind="sectionTitle">
    </div>
</div>
<div
    class="nav"
    ng-class="{'nav--alt': alternative}">
    <div class="nav__inner">
        <a
            href=""
            ng-click="changeClass()"
            ng-if="!alternative"
            class="nav__logo__text">
            EUNSOO
        </a>
        <a
            href=""
            ng-click="changeClass()"
            ng-if="alternative"
            class="nav__logo__text">
            KOREAN
        </a>
            <a
                ng-click="setTitle(colorStyling.name)"
                ng-mouseenter="previewTitle(colorStyling.name)"
                ng-mouseleave="revertTitle()"
                ui-sref="{{ colorStyling.slug }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/color-styling.svg'">
            </a>
            <a
                ng-click="setTitle(backgrounds.name)"
                ng-mouseenter="previewTitle(backgrounds.name)"
                ng-mouseleave="revertTitle()"
                ui-sref="{{ backgrounds.slug }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/landscape.svg'">
            </a>
            <a
                ng-click="setTitle(sketchBook.name)"
                ng-mouseenter="previewTitle(sketchBook.name)"
                ng-mouseleave="revertTitle()"
                ui-sref="{{ sketchBook.slug }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/sketchbook.svg'">
            </a>
            <a
                ng-click="setTitle(comics.name)"
                ng-mouseenter="previewTitle(comics.name)"
                ng-mouseleave="revertTitle()"
                ui-sref="{{ comics.slug }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/comic.svg'">
            </a>
            <a
                ng-click="setTitle(threeD.name)"
                ng-mouseenter="previewTitle(threeD.name)"
                ng-mouseleave="revertTitle()"
                ui-sref="{{ threeD.slug }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/3d.svg'">
            </a>
            <a
                ng-click="setTitle(sculpture.name)"
                ng-mouseenter="previewTitle(sculpture.name)"
                ng-mouseleave="revertTitle()"
                ui-sref="{{ sculpture.slug }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/sculpture.svg'">
            </a>
        </ul>
        <a
            href=""
            ng-click="changeClass()"
            ng-if="!alternative"
            class="nav__logo__text">
            JEONG
        </a>
        <a
            href=""
            ng-click="changeClass()"
            ng-if="alternative"
            class="nav__logo__text">
            ANGRY
        </a>
    </div>
</div>
