.nav {
    @include position(fixed, 0 null null 0);
    @include transform(rotate(-90deg) translateX(-100%));
    @include transform-origin(left top);
    height: 80px;
    width: 100vh;

    @include media($phablet) {
        height: 50px;
    }

    &.nav--alt {
        background-color: $black;

        .nav__logo__text {
            color: $white;
        }

        .nav_item__icon {
            @include svg(32px, 32px, $white);

            @include media($phablet) {
                @include svg(28px, 28px, $white);
            }

        }
    }
}

.nav__menu__item {
    @include position(fixed, 0 null null 0);
    @include transform(rotate(0deg) translateX(0%));
    @include transform-origin(center center);
    height: 100vh;
    width: 100vw;

    @include media($phablet) {
        @include position(fixed, 0 null null 0);
        @include transform(rotate(-90deg) translateX(-100%));
        @include transform-origin(left top);
        height: 100vw;
        width: 100vh;
    }
}

.nav__menu__item__text {
    @extend %h1-a;
    @include align-all(absolute);
    color: $black;
}

.nav__background {
    background-color: $black;
    display: none;
    height: calc(100% - 40px);
    position: absolute;
    width: 100%;
    z-index: 10;
}

.nav__inner {
    @include align-vertically(absolute);
    @include padding(20px 20px 0 20px);
    position: relative;
    text-align: center;

    @include media($phablet) {
        padding-top: 10px;
    }
}

.nav__logo__text,
.nav_item__icon {

    & + & {
        margin-left: 8px;
    }
}

.nav__logo__text {
    @extend %h1;
    color: $black;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
    top: -5px;
}

.nav_item__icon {
    @include transition(all 0.3s ease-in, fill 0.3s ease-in);
    @include transform(rotate(90deg));
    @include transform-origin(center);
    @include svg(32px, 32px, $black);
    display: inline-block;

    @include media($phablet) {
        @include svg(28px, 28px, $black);
        position: relative;
        top: 3px;
    }
}
