<div
    ng-click="changeClass()"
    ng-class="bigNav"
    class="nav">
    <div
        ng-mouseenter="showText = true"
        ng-mouseleave="showText = false"
        class="nav__logo">
        <div
            ng-hide="showText"
            class="nav__logo__text">
            Eunsoo Jeong
        </div>
        <div
            ng-show="showText"
            class="nav__logo__text__alt">
            Don't touch me
        </div>
        <div class="nav__logo__acronym">
            EJ
        </div>
    </div>
	<div class="nav__inner">
        <ul class="nav__list">
            <li
                ng-repeat="nav in navData"
                class="nav__list__item">
                <a
                    ui-sref="{{ nav.sref }}"
                    ui-sref-active="active"
                    class="nav__list__link"
                    ng-bind="nav.name">
                </a>
            </li>
        </ul>
    </div>
</div>
