<div class="nav">
    <div class="nav__inner">
        <div class="nav__logo__text">
            EUNSOO
        </div>
            <a
                ng-mouseenter="overlayOn()"
                ng-mouseleave="overlayOff()"
                ui-sref="{{ colorStyling }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/icon.svg'">
            </a>
            <a
                ng-mouseenter="overlay()"
                ui-sref="{{ background }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/icon.svg'">
            </a>
            <a
                ng-mouseenter="overlay()"
                ui-sref="{{ sketchBook }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/icon.svg'">
            </a>
            <a
                ng-mouseenter="overlay()"
                ui-sref="{{ comics }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/icon.svg'">
            </a>
            <a
                ng-mouseenter="overlay()"
                ui-sref="{{ threeD }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/3d.svg'">
            </a>
            <a
                ng-mouseenter="overlay()"
                ui-sref="{{ sculpture }}"
                ui-sref-active="active"
                class="nav_item__icon"
                ng-include="'assets/images/sculpture.svg'">
            </a>
        </ul>
        <div
            class="nav__logo__text">
            JEONG
        </div>
    </div>
</div>
