<div class="header">
    <div class="header__inner">
        <div
            ng-mouseenter="showText = true"
            ng-mouseleave="showText = false"
            class="header__logo">
            <div
                ng-hide="showText"
                class="header__logo__text">
                Eunsoo Jeong
            </div>
            <div
                ng-show="showText"
                class="header__logo__text__alt">
                Don't touch me
            </div>
        </div>
    </div>
</div>
