.gallery {
    @include position(relative, 0);
    // @include background(linear-gradient(#ff8bdc, #db44fc));
    border: 1px solid $black;
    float: left;

    height: 300vh;
    margin-left: 20%;
    width: 80%;
}
