<div class="gallery">
    <div class="gallery__inner">
        <div
            class="gallery__pictures">
            <div
                class="gallery__grid"
                masonry
                masonry-options="masonryOptions">
                <div
                    id="{{media.sys.id}}"
                    class="masonry__item"
                    ng-repeat="media in galleryData.fields.media"
                    media="media">
                </div>
            </div>
        </div>
    </div>
</div>
